<style>
  .block {
    display:inline-flex;
    width:100%;
      
      

    background-color:blue;
  
  }
</style>

  
    <nav *ngIf="currentUser">
     
      <div class = "block" >
        
        <a [routerLink]="'/'" routerLinkActive="active"  style="color:white; margin-left:100px; " > <h1>Home</h1></a>
        
        <a [routerLink]="'/main/companies'" routerLinkActive="active" ariaCurrentWhenActive="page"style="color:white; margin-left:100px; "   > <h2>Companies</h2></a>
        
        <a [routerLink]="'/albums'" routerLinkActive="active" ariaCurrentWhenActive="page"style="color:white; margin-left:100px; "  > <h2>Albums</h2></a> 
        <a routerLinkActive="active" ariaCurrentWhenActive="page"style="color:white; margin-left:100px;padding-top:40px; " class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
    </nav>
    <router-outlet></router-outlet>
